extends layout

block content
    a(href="/addproject") Add New Project
    br
    a(href="/") See All Projects
    h1.
        Project List
    ul
        each project, i in projectlist
            li

                p= project.name
                  ul
                    li
                      p= project.status
                    li
                      p= project.reference
                    li
                      p= project.url
                    li
                      p= project.tags
