extends layout

block content
  
    h1.
        Project List
    ul
        each project, i in projectlist
            li

                p= project.name
                  ul
                    li
                      p= project.status
                    li
                      p= project.reference
                    li
                      p= project.url
                    li
                      p= project.tags
